body {
  background-color: hotpink;
  color: white;
  margin: 0;
  font-family: sans-serif;
  font-size: 2rem;
}

header {
  background-color: purple;
  padding: 1rem;
}

footer {
  background-color: aquamarine;
  color: purple;
  padding: 1rem;
}
